In [2]:
#1.What is wrong with the following function definition, and how do you fix it?
def say_hello(name):
    print("Hello, " + name)

In [4]:
say_hello("muthu")

Hello, muthu

In [7]:
#2.What error will occur in the following code, and how do you fix it?


age = str(25)
print("I am " + age + " years old")

I am 25 years old

In [8]:
#3.Question:
#What is the issue with the following code?

def greet():
    message = "Hello"
    print(message)

In [9]:
greet()

Hello

In [19]:
#4.What error will occur in the following code, and how do you fix it?

def add(a, b):
    return a + b
    print(add(5))

In [20]:
add(2,3)

5

In [23]:
#5.What is wrong with this code?

def is_even(n):
    if n % 2 == 1:
        return False
    else:
        return True

In [24]:
is_even(5)

False

In [28]:
#6.What happens when you run this code?

num = str("10a")
print(num)

10a

In [44]:
#7.What will happen when you run the following code?


numbers = [1, 2, 3, 4]
num=reversed(numbers)
mylist=list(num)
mylist.sort
print(mylist)

[4, 3, 2, 1]

In [46]:

#8.What is the issue with this code?


numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [48]:
#9.What will happen when you run the following code?


def increment():
    count = 10
    count += 1
    print(count)

increment()

11

In [50]:
#10.What error will occur in the following code?

text = "Python"
print(text[5])

n

In [16]:
#1. Scenario: A user is required to enter a valid number in a form, but users
#sometimes input invalid data.
#Write logic to repeatedly prompt the user until they enter a valid integer.
def validation(textfield):
        if textfield.isdigit():
            num = int(textfield)
            if num <= 8:
                print("Valid:", num)
                   
            else:
                print("Invalid! Number must be at least 5.")
        else:
            print("Invalid input! Please enter digits only.")

In [15]:
validation("31155ssq")

Invalid input! Please enter digits only.

In [58]:
#Scenario: A data analysis tool processes a list of numbers and needs to identify
#the most frequently occurring value.
#Write logic to find the most frequently occurring number in a given list.
def number_repet():
    num=[1,2,2,3,3,3,5,6,7,8,9,2,5,55,45]
    occur=max(num,key=num.count)
    print("Most occurring number is:", occur)

In [59]:
number_repet()

Most occurring number is: 2

In [9]:
#3.	Scenario: A text-processing application needs to compare words and check if they are anagrams (contain the same letters in a different order).
# Write logic to determine whether two given strings are anagrams.
def aragram(str1,str2):
    text1= str1.replace("" , "").lower()
    text2= str2.replace("" , "").lower()
    sort1="".join(sorted(text1))
    sort2="".join(sorted(text2))
    if sort1==sort2:
            print("The string was anagrams",sort1,sort2)
    else:
        print("The string was not anagrams")

In [12]:
aragram("listen", "silent")

The string was anagrams eilnst eilnst

In [38]:
#4.	Scenario: A speech analysis program needs to count the number of vowel sounds in a given input.
# Write logic to count the number of vowels in a given string.
def vowels(word):
    vol= "aeiouAEIOU"
    count=0
    for ch in word:
           if ch in vol:
                 count+=1        
    print("The count of vowels is:",count)

In [39]:
vowels("education")

The count of vowels is: 5

In [40]:
#5.	Scenario: A text-editing software includes a feature to reverse the order of words in a sentence for stylistic effects.
 #Write logic to reverse the order of words in a sentence while keeping the words themselves intact.
def reverse(sentence):
    word=sentence.split()
    reves_word=word[::-1]
    return "".join(reves_word)

In [41]:
reverse("Here is the simple and clean logic to reverse the order of words in a sentence while keeping each word unchanged")

'unchangedwordeachkeepingwhilesentenceainwordsoforderthereversetologiccleanandsimpletheisHere'

In [71]:
#6.	Scenario: A missing number is detected in a sequence of values stored in a database.
 #Write logic to find the missing number in a list containing n-1 numbers from 1 to n.

def find_missing_simple():
    num_list = [1, 2, 4, 5, 6]
    my_list=len(num_list)+1
    expected=0
    for i in range(1,my_list+1):
        expected+=i

        
    actual=sum(num_list)
    return expected -actual

In [72]:

print("Missing number is:", find_missing_simple())

Missing number is: 3

In [116]:
#7.	Scenario: An ATM machine processes withdrawal requests and needs to ensure that users cannot withdraw more than their account balance.
 #Write logic to allow a withdrawal only if the balance is sufficient.
def balance(bal,amount):
    if bal>amount:
        print("You can take the cash:",bal)
    if amount <= 0:
          print("Invalid amount!")
    else:
         bal -= amount
         print("Amount withdrawn:", amount)
         print("Remaining balance:", bal)
    return bal

In [117]:
balance(6000,5000)

You can take the cash: 6000
Amount withdrawn: 5000
Remaining balance: 1000

1000

In [119]:
#8.	Scenario: A system needs to verify whether a given dataset contains duplicate entries.
# Write logic to check whether a given list contains duplicate values.
def revmove_dup():
    data=["Muthu","Ram","Magizh","Pavitha","Muthu","Murugan","Magizh"]
    Remove=list(set(data))
    print("Before remove the duplicate:", data)
    print("After remove the duplicate:" ,Remove)

In [120]:
revmove_dup()

Before remove the duplicate: ['Muthu', 'Ram', 'Magizh', 'Pavitha', 'Muthu', 'Murugan', 'Magizh']
After remove the duplicate: ['Magizh', 'Murugan', 'Pavitha', 'Ram', 'Muthu']

In [129]:
#9.	Scenario: A digital calculator includes a feature to sum the digits of a number for verification purposes.
 #Write logic to calculate the sum of all digits in a given integer.
def addtion():
    Datasum=[55,66,88,12,36,25,456,789]
    calcu=sum(Datasum)
    print("Before Total:",Datasum)
    print("After Total:",calcu)

In [130]:
addtion()

Before Total: [55, 66, 88, 12, 36, 25, 456, 789]
After Total: 1527

In [147]:
#10.Scenario: A language-learning app wants to verify whether a given sentence is a pangram (contains every letter of the alphabet at least once).
def is_pangram(sentence):
    sentence = sentence.replace(" ", "").lower()
    return set("abcdefghijklmnopqrstuvwxyz").issubset(set(sentence))
    
print(is_pangram("The quick brown fox jumps over the lazy dog"))

True

In [169]:
#1. Square of Numbers from 1 to 5
#Output:
#1 4 9 16 25
def Square():
    for i in range(1,6):
         print(i * i, end=" ")

In [170]:
Square()

1 4 9 16 25

In [172]:
#2.Swap Two Variables Without Using a Temporary Variable
#Question: Write a Python program to swap two variables a = 5 and b = 10 without using a temporary variable.

a,b=5,10
a,b=a,b
print("a=",a,"b=",b)

a= 5 b= 10

In [189]:
#3.Find Even and Odd Numbers in a List
#Question: Write a Python program to separate even and odd numbers from the list [12, 17, 19, 24, 35, 40, 56].
def separate_odd_even():
    num=[12, 17, 19, 24, 35, 40, 56]
    for i in num:
         if i%2==0:
             print("Even=",i)
         else:
             print("Odd=",i)

In [190]:
separate_odd_even()

Even= 12
Odd= 17
Odd= 19
Even= 24
Odd= 35
Even= 40
Even= 56

In [205]:
#4. Reverse a Number
#Question: Write a Python program to reverse the number 12345.
def reves():
     num=[1,2,3,4,5,6]
     num1=list(reversed(num))
     print("Revered:",num1)

In [206]:
reves()

Revered: [6, 5, 4, 3, 2, 1]

In [225]:
#5. Find the Second Largest Number in a List
#Question: Write a Python program to find the second largest number in the list [12, 45, 98, 34, 23].
def Sec_lag_num():
     number= [12, 45, 98, 34, 23]
     number.sort(reverse=True)
     print("The second largest number is:",number[1])

In [226]:
Sec_lag_num()

The second largest number is: 45